{% extends "reset.html" %}
{% block content %}
<div class="row mt-5 mb-5">
    <div class="col-1 col-md-3 col-lg-3 "></div>
    <div class="col-10 col-md-6 col-lg-6  mt-5 ">
        <h1 class=" site-section-heading text-center mb-5">Forgotten your Password ?</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label  for="{{form.email.id_for_label}}">Email</label>
            <input type="email"  class="form-control mt-3" name="{{form.email.html_name}}"  required placeholder="Enter your registered email" required value="{{form.email.value|default_if_none:'' }}">

            <div class="row form-group mt-4">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Send email" class="btn btn-success contactbtn py-2 px-4 text-white">
                </div>
            </div>
        </form>
    </div>
    <div class="col-1 col-md-3 col-lg-3 "></div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-12">
    </div>
</div>
{% endblock content %}

{% with show_footer=False %}
{% endwith %}